<div class="row justify-content-around" style="margin:20px;">
    <div class="col-xl-7 col-lg-8 col-md-10 block">
        <div style="padding:10px">
            <h1 style="color:#0e1111">Pending Orders</h1>
            <table class="table table-responsive table-dark table-bordered" style="background-color:#363434;border-color:#363434;color:#efecec">
                <thead>
                    <tr>
                        <th scope="col" style="border-color:#363434;">Order ID</th>
                        <th scope="col" style="border-color:#363434;">Drugs</th>
                        <th scope="col" style="border-color:#363434;">Order Date</th>
                        <th scope="col" style="border-color:#363434;">Patient ID</th>
                        <th scope="col" style="border-color:#363434;">Complete</th>
                        <th scope="col" style="border-color:#363434;">Delete</th>
                    </tr>
                </thead>
                <tbody>
                    {% set i = 0 %}
                    {% for order in current_orders %}
                    <tr style="background-color:#436469;">
                        <td style="border-color:#363434;">{{order.orderID}}</td>
                        <td style="border-color:#363434;text-align: center;">{{cur_drug_list[i]}}</td>
                        <td style="border-color:#363434;">{{order.orderDate}}</td>
                        <td style="border-color:#363434;">{{order.patientID}}</td>

                        <td style="border-color:#363434;">
                            <form action="" method="POST">
                                <button type="submit" class="btn btn-success" name="Complete" value="{{ order.id }}">
                                    Complete
                                </button>
                            </form>
                        </td>
                        <td style="border-color:#363434;">
                            <form action="" method="POST">
                                <button type="submit" class="btn btn-danger" name="Delete" value="{{ order.id }}">
                                    Delete
                                </button>
                            </form>
                        </td>
                    </tr>
                    {% set i = i + 1 %}
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="row justify-content-around" style="margin:20px;">
    <div class="col-xl-7 col-lg-8 col-md-10 block">
        <div style="padding:10px">
            <h1 style="color:#0e1111">Completed Orders</h1>
            <table class="table table-responsive table-dark table-bordered" style="background-color:#363434;border-color:#363434;color:#efecec">
                <thead>
                    <tr>
                        <th scope="col" style="border-color:#363434;">Order ID</th>
                        <th scope="col" style="border-color:#363434;">Drugs</th>
                        <th scope="col" style="border-color:#363434;">Order Date</th>
                        <th scope="col" style="border-color:#363434;">Completion Date</th>
                        <th scope="col" style="border-color:#363434;">Patient ID</th>
                        <th scope="col" style="border-color:#363434;">Delete</th>
                    </tr>
                </thead>
                <tbody>
                    {% set i = 0 %}
                    {% for order in past_orders %}
                    <tr style="background-color:#436469;">
                        <td style="border-color:#363434;">{{order.orderID}}</td>
                        <td style="border-color:#363434;text-align: center;">{{cur_drug_list[i]}}</td>
                        <td style="border-color:#363434;">{{order.orderDate}}</td>
                        <td style="border-color:#363434;">{{order.completionDate}}</td>
                        <td style="border-color:#363434;">{{order.patientID}}</td>

                        <td style="border-color:#363434;">
                            <form action="" method="POST">
                                <button type="submit" class="btn btn-danger" name="Delete" value="{{ order.id }}">
                                    Delete
                                </button>
                            </form>
                        </td>
                    </tr>
                    {% set i = i + 1 %}
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

